* {
  text-align: center;
  border: 1px solid red;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  padding: 10em;
  min-width: 520px;
  min-height: 830px;
}

.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;}

.app.warm {
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;}

.search-box {
}

.search-box .search-bar {
  width:  100%;
  border-radius: 10px 10px 10px 10px;
  size: 100px;
  opacity: 0.5;

}

.search-box .search-bar:focus {
  border: 30ex;
}

.location-box .location {
}

.location-box .date {
}

.weather-box {
}

.weather-box .temp {
}

.weather-box .weather {
}
.developed-by {
}
#feels-like {
}