* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(10, 9, 9);
  opacity: 0.5;

}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
 
}

.location-box .location {
}

.location-box .date {
}

.weather-box {
}

.weather-box .temp {
}

.weather-box .weather {
}
.developed-by {
}
#feels-like {
}