* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 font-family: 'Courier New', Courier, monospace;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-color: #EEE;
}
.app {
border-radius: 16px;
padding: 32px;
 width: 100%;
 max-width: 480px;
 box-shadow:
  -2px -2px 6px 2px #FFF,
  2px 2px 6px 2px #C4C4C4;
}
main {
  min-height: 100vh;
  padding: 25px;
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
}
.search-box .search-bar {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 16px;
  border-radius: 16px;
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 16px;
  box-shadow:
    inset -4px -4px 10px 4px #FFF,
    inset 4px 4px 10px 4px #C4C4C4;
  font-size: 18px;
  transition: 0.2s ease-out;
}
.location-box .location {
  
}

.location-box  {
  color:  black;
  font-size: 20px;
font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow:  inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
  color: rgb(110, 109, 109);
  font-size: 32px;
 
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: #EEE;
  border-radius: 16px;
  padding: 15px 25px;
  color: rgb(158, 155, 155);
  font-size: 102px;
  font-weight: 900;
  text-shadow: inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
  text-align: center;
  box-shadow:  inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
}

.weather-box .weather {
  color: rgb(102, 98, 98);
  font-size: 48px;
  font-weight: 700;
  text-shadow:  inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
}
.developed-by {
  color: rgb(155, 151, 151);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px 20px;
  text-shadow:  inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
  background-color: #EEE  ;
}
#feels-like {
  color: rgb(39, 36, 36);
  opacity: 0.3;
  font-size: 33px;
  font-weight: 700;
  text-shadow:  inset -4px -4px 10px 4px #FFF,
  inset 4px 4px 10px 4px #C4C4C4;
}